name: Build Advanced Installer Project (.AIP)
on: [workflow_dispatch]
env: 
    advancedinstaller_url: https://www.advancedinstaller.com/downloads/advinst.msi
    AZURE_TENANT_ID: ${{ secrets.SECRETS_TENANTID }}
    AZURE_CLIENT_ID: ${{ secrets.SECRETS_CLIENTID }}
    AZURE_CLIENT_SECRET: ${{ secrets.SECRETS_CLIENTSECRET }}

jobs:
  advinst-aip-build-demo:
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v3

      - name: Build AIP
        uses: caphyon/advinst-github-action@main
        with:
          advinst-version: '23.1'
          advinst-license: ${{ secrets.ADVINST_LICENSE_KEY }}
          advinst-enable-automation: 'true'
          aip-path: ${{ github.workspace }}\sample.aip
          aip-build-name: DefaultBuild
          aip-package-name: setup.msi
          aip-output-dir: ${{ github.workspace }}\setup
          aip-commands: |
            SetProperty FOO="foo"
            SetVersion 1.2.0

      - name: Publish setup artifact
        uses: actions/upload-artifact@v4
        with:
          name: setup
          path: ${{ github.workspace }}\setup\setup.msi
